{# eos - router general #}
{% if router_general is arista.avd.defined %}
!
router general
{%      if router_general.vrfs is arista.avd.defined %}
{%          for vrf in router_general.vrfs %}
   vrf {{ vrf }}
{%              if router_general.vrfs[vrf].leak is arista.avd.defined %}
{%                  for leak_data in router_general.vrfs[vrf].leak %}
{%                      if leak_data.source_vrf is arista.avd.defined and leak_data.policy is arista.avd.defined %}
      leak routes source-vrf {{ leak_data.source_vrf }} subscribe-policy {{ leak_data.policy }}
{%                      endif %}
{%                  endfor %}
{%              endif %}
   !
{%          endfor %}
{%      endif %}
{% endif %}